body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

header {
    background-color: #0b6e4f;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.movies {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.movie img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0b6e4f;
}
